html, body {
    width: 100%;
    height: 100%;
    background-color: darkgoldenrod;
    font-family: 'Montserrat', cursive;
    margin: 0;
    padding: 0;
    color: white;
}

#nav {
    height: 68px;
    background-color: black;
    color: white;
    display: flex;
}

#nav #logo {
    font-size: 28px;
    padding: 15px;
}

#page {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#tasksPlate{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    width: 250px;
    height: 150px;

    background-color: lightblue;
    color: black;
    padding: 10px;

    border-radius: 10px;
    border: 2px solid black;
}

.buttonBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button {
    width: 100px;
    height: 30px;
    background-color: darkgray;
    border-radius: 5px
}
.button:hover{
    filter: brightness(90%);
    cursor: pointer;
}