.toast{
    width: 200px;
    height: 250px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    color: black;
    border: 5px solid rgb(101,67,33);
    background-color: rgb(250,184,66);

    transform: scale(70%);
}

.toast::before,
.toast::after {
    position: absolute;
    width: 30px;
    height: 100px;
    top: -5px;

    content: '';
    border: 5px solid rgb(101,67,33);
    background-color: rgb(250,184,66);
}

.toast::before{
    border-bottom-right-radius: 50px 70px;
    border-top-right-radius: 50px 70px;
    border-left: 0;
    right: -35px;
}

.toast::after{
    border-bottom-left-radius: 50px 70px;
    border-top-left-radius: 50px 70px;
    border-right: 0;
    left: -35px;
}

#controlPanel{
    width: 400px;
    height: 250px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    background-color: gray;
    border-radius: 100px 100px 0% 0%;
    border: 2px solid black;
}

#plate{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#buttonPanel {
    display: flex;
    flex-direction: column;
}

#buttonPanel > .button {
    cursor: pointer;
    height: 30px;
    width: 60px;
    border-radius: 100%;
    border-style: solid;
}

.toast > p {
    font-size: 20px;
}