<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Montserrat'>
    <link rel="stylesheet" href="css/app.css">

	<title>Testing Lab</title>
    <script type="module" src="./src/App.js"></script>

</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<body>
	<div id="nav">
		<div id="logo">
			Lab 5
		</div>
	</div>
    <br/>
	<div id="page">
		<div id="controlPanel">
			<textarea v-model="inputValue" id="input" class="text" rows="3"></textarea>
			<div class="buttonPanel">
				<button id="button" class="button" @click="refreshTodos">Refresh</button>
				<button id="button send" class="button" @click="createTodo">Add task</button>
			</div>
		</div>

		<div v-for="todo in todos" :key="todo.id" class="divTask">
			<textarea v-model="todo.name" id="input" class="text" rows="3"></textarea>
			<div class="buttonBox">
				<button id="button" class="button" @click="updateTodo(todo)">UPDATE</button>
				<button id="button send" class="button" @click="deleteTodo(todo)">DELETE</button>
			</div>
		</div>
	</div>
</body>
</html>
